.time-sets{
    display:grid;
    justify-items:center;
    grid-template-columns: 50px 200px 50px;
    align-items:center;
}
.dual-container{
    display:grid;
    grid-template-columns: 1fr 1fr;
    width:1200px;
    margin:auto;
    justify-items:center;
    align-items:center;
}

body{
    color:white;
    background-color:#333
}
